<?xml version="1.0"?>
<configuration>
  <appSettings>
	  <add key="CONN_STR" value="Data Source=JAWADMAKARY\SQLJAWAD;Database=pierre_workshop;Integrated Security=True;"/>
	  <add key="BLC_PATH" value="C:\pierre workshop\app\Workshop\BLC\bin\Debug\net6.0\BLC.dll"/>
	  <add key="USER_ID" value="JAW-MAK"/>
	  <add key="PWD" value="27428wwAAA244293"/>
	  <add key="SERVICE_CODE" value="I2"/>
  </appSettings>
</configuration>
